<div class="w-75 border border-3 border-dark p-3 mb-2 row">
    <div class="col-2 d-flex flex-column align-items-center">
        <img src="https://via.placeholder.com/75" width="75" height="75" alt="Avatar"
            class="mb-4">
        <div>
            <button type="button" class="btn">-</button>
            <span class="d-inline-block">5</span>
            <button type="button" class="btn">+</button>
        </div>
    </div>
    <div class="col-10">
        <p>
            First of all I would like to thank you for the
            invitation to participate in such a ... Russia is the
            huge territory which in many respects needs to
            be render habitable.
        </p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
                id="flexCheckIndeterminate1">
            <label class="form-check-label" for="flexCheckIndeterminate1">
                Correct
            </label>
        </div>
    </div>
</div>