<div class="w-75 border border-3 border-dark p-3 mb-2 row">
    <div class="col-2 d-flex flex-column align-items-center">
        <img src="https://via.placeholder.com/50" width="50" height="50" alt="Avatar"
            class="mb-4">
        <div>
            <button type="button" class="btn">-</button>
            <span class="d-inline-block">{{ q.likes }}</span>
            <button type="button" class="btn">+</button>
        </div>
    </div>
    <div class="col-10">
        <a href="#" class="fs-5">{{ q.title }}</a>
        <p>{{ q.description }}</p>
        <div>
            <a href="#" class="me-3">answer {{ q.cnt_answers }}</a>
            <div class="d-inline-block">
                <span>Tags: </span>
                {% for tag in q.tags %}
                    <a href="#">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>